@model String

@using(Html.BeginForm("Sucursales", "Product", FormMethod.Post)) {

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
            <input class="btn btn-success" type="submit" value="Ubicar Existencia de Productos en esta sucursal" />
    </div>
    <div class="col-md-4">
    </div>
</div>
}
