@{
    ViewBag.Title = "Acerca de SuperMarket";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
       Es una página que permite realizar muchas funciones  
       que tienen que ver con la mercancía de un producto.
    </p>
</article>